.pkta_ext_container {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 200px;
	min-height: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
	background-color: rgb(240, 240, 240);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 4px;
	margin: 0 10px 10px 10px;
	padding: 0;
	z-index: 100000000;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	text-align: center;
}

.pkta_ext_initload > div.pkta_title {
	color: rgb(85, 85, 85);
	font-size: 22px;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.4;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

span.pkta_ext_close {
	color: rgb(85, 85, 85);
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

small.pkta_ext_error_msg {
	color: rgb(255, 15, 15);
	font-size: 13px;
	font-weight: bold;
}

.pkta_ext_container_inactive {
	visibility: hidden;
	opacity: 0;
}
